#game-field {
	width: fit-content;
	height: fit-content;
	float: left;
	border: solid 2px black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .'
		'. . . . . . . . .';
}
