#input-field {
	position: fixed;
	margin-left: 30%;
	width: fit-content;
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'. . .'
		'. . .'
		'. . .';
}

.input-cell {
	width: 50px;
	height: 50px;
}
