#modal-root {
	z-index: 999;
}

#modal-root div {
	position: fixed;
	width: 10%;
	height: fit-content;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	background: white;
	border: solid black;
}

#modal-root button {
	display: inline;
	margin: 5% 5% 5% 5%;
}

@media screen and (max-device-width: 1200px) {
	#modal-root div {
		width: 20%;
	}
}

@media screen and (max-device-width: 690px) {
	#modal-root div {
		width: 40%;
	}
}
